{% extends "layout.html" %}

{% block content %}

<style type="text/css">
    .jumbotron {
      padding: 4rem 2rem;
      margin-bottom: 2rem;
      background-color: var(--bs-light);
      border-radius: .3rem;  
    }
</style>

<div class="jumbotron">
  <h1 class="display-4">CAJAWY!</h1>
  <p class="lead">Un vínculo incomprensible que siempre nos mantendra juntos </p>
  <hr class="my-4">
  <p>Cajawy será un legado que nuestras semillas contaran en sus historias</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">GoGo!</a>
</div>





{% endblock %}